// Primary Colors
$primary-100: #EAF1FB;
$primary-200: #528AE0;
$primary-300: #2F73DA;
$primary-400: #165ECC;
$primary-500: #034AB3;

// Neutral Colors
$white: #ffffff;
$neutral-100: #F7F9FC;
$neutral-200: #F7F9FC;
$neutral-300: #E2E8F0;
$neutral-400: #CBD3DF;
$neutral-500: #A4B0C1;
$neutral-600: #768397;
$neutral-700: #454F5E;
$neutral-800: #2D3847;
$neutral-900: #19212C;

// Success Colors
$success-100: #B3F7D0;
$success-200: #79F3C0;
$success-300: #1AD6A8;
$success-400: #00BE8E;
$success-500: #008557;

// Warning Colors
$warning-100: #FEF7B9;
$warning-200: #FFDA6C;
$warning-300: #FFB400;
$warning-400: #FA8902;
$warning-500: #C33E01;

// Error Colors
$error-100: #FECAC9;
$error-200: #FF8589;
$error-300: #DC2346;
$error-400: #C3003E;
$error-500: #8D003C;

// Easing
$transition: all 350ms cubic-bezier(.475, .425, 0, .995);
$easing: cubic-bezier(.475, .425, 0, .995);

// Shadows
$shadow-low: 0px 1px 3px rgba(87, 102, 117, 0.2);
$shadow-med: 0px 3px 8px rgba(87, 102, 117, 0.15);
$shadow-high: 0px 10px 20px rgba(87, 102, 117, 0.16);
$shadow-top: 0px -1px 3px rgba(87, 102, 117, 0.2);
$shadow-left: -1px 0px 3px rgba(87, 102, 117, 0.2);
$shadow-right: 1px 0px 3px rgba(87, 102, 117, 0.2);

body{
    background-color: $neutral-100;
}

.top-bar{
    background-color: $white;
    box-shadow: $shadow-low;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    @media(max-width: 576px) {
        padding: 16px 24px !important;
    }

    .mobile-menu{
        display: none;
        @media(max-width: 1176px) {
            display: flex;
        }
    }

    .mobile-search{
        display: none;
        @media(max-width: 576px) {
            display: unset;
        }
    }

    .search{
        flex: 1;
        max-width: 500px;
        margin: 0 32px;
        @media(max-width: 576px) {
            display: none;
        }
        input{
            padding: 16px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid $neutral-600;
            width: 100%;
            max-width: 500px;
            box-sizing: border-box;
        }
    }
}

.grid-wrapper{
    width: 100%;
    display: flex;
    margin: 86px auto 0;
    width: 1176px;

    @media(max-width: 1176px) {
        width: 100%;
        max-width: 888px;
    }

    @media(max-width: 576px) {
        margin: 77px auto 0;
    }

    .col{
        padding: 0 32px;
        height: calc(100vh - 86px);
        @media(max-width: 576px) {
            padding: 0 24px !important;
            height: calc(100vh - 77px);
        }

        &.left{
            min-width: 288px;
            flex: 0;
            background-color: $neutral-400;
            transition: $transition;

            @media(max-width: 1176px) {
                position: fixed;
                left: -100%;
                top: 86px;
                box-shadow: $shadow-right;
                background-color: $white;
                z-index: 1;

                &.show{
                    left: 0;
                }
            }

            @media(max-width: 576px) {
                top: 77px;
            }
        }
        &.right{
            min-width: 288px;
            flex: 0;
            background-color: $neutral-400;

            @media(max-width: 576px) {
                display: none;
            }
        }
        &.mid{
            flex: 1;
            max-width: 600px;
            background-color: $neutral-300;
        }
    }
}